body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: auto;
    justify-content: center;
    align-items: center;
    transform: translateY(50%);
}
h2 {
    color: #fff;
}
span {
    color: #fff;
    font-weight: 600;
    font-size: 200%;
    /* display: block; */
}

.box {
    height: 130px;
    width: 150px;
    background-color: lawngreen;
}
footer{
    color: #fff;
    position: absolute;
    top: 70%;
    left: 43%;
}